body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #93c5fa;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:hover {
  background-color: #eda1ed;
  color: white;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 20px 28px;
  border-radius: 10px;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  color: white;
}

a:visited {
  color: inherit;
}

.green {
  background-color: #4CAF50;
  color: white;
}

.blue {
  background-color: #00bfff;
  color: white;
}

.header {
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;
}

.title {
  font-size: 3em;
  margin: 0;
  color: black;
}

.subtitle {
  font-size: 1.2em;
  margin: 0;
  color: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  border: none;
}
