body {
	background-color: pink;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  .container {
	max-width: 600px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
  }
  

  h1 {
	font-size: 36px;
	margin-bottom: 30px;
  }
  
  .question {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  
.button-container {
	margin-top: 20px;
  }
  
  .button {
	background-color: #17f4de;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
  }
  
  .button:hover {
	background-color: #FF1493;
  }
  .score {
	display: none;
  }